.filter-field-type-select-container {
	$button-filter-height: 18px;
	$item-height: 18px;

	* {
		cursor: pointer;
	}	

	.filter-field-type-select-row {
		height: $item-height;
		display: flex;		

		label {
			display: flex;
			align-items: center;
			height: $item-height;

			input {
				margin: 0;
			}

			span {
			    align-self: center;
			    margin-left: 2px;
			}

			&:not(:last-child) {
				//border-bottom: solid 1px #d6e3f5;
				margin-bottom: 1px;			
			}
		}	
	}

	.filter-field-type-select-button-container {
		height: $button-filter-height;	
		margin-top: 4px;
		margin-bottom: 2px;		
		border-top: solid 1px #e6e6e6;
		padding-top: 2px;

		.filter-field-type-select-button {
			height: $button-filter-height;
			position: absolute;
			right: 5px;
			color: black;

			&:hover {
				color: #002699;
			}			
		}

	}		

}