<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../../dist/ui-deni-grid.min.css">
</head>

<style>
	#deniGrid {
		height: 300px;
		width: 800px;
	}

</style>

<body ng-app="myApp">

	<section ng-controller="ExampleCtrl as ctrl">
		<input type="text" ng-model="textFilter" placeHolder="type here to filter"></input>
		<button ng-click="gridOptions.api.filter(textFilter)">Filter</button>
		<br>
		<br>	
	
		<ui-deni-grid id="deniGrid" options="gridOptions"></ui-deni-grid>
	</section>	

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>

	<script src="../../../dist/ui-deni-grid.js"></script>			

	<script src="script.js"></script>	
</body>
</html>