body {
	margin: 0px;
	padding: 4px;
	font-family: tahoma,arial;
	overflow-y: hidden;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

header {
	padding: 10px 10px;
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	background: #2e7bcf url(../images/header-bg.png) 0 0 repeat-x;
	border-bottom: solid 1px #275da1;
	color: white;
}

hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #ccc, #f0f0f0);
	background-image: -moz-linear-gradient(left, #ccc, #f0f0f0);
	background-image: -ms-linear-gradient(left, #ccc, #f0f0f0);
	background-image: -o-linear-gradient(left, #ccc, #f0f0f0);
}

.examples-ui-deni-grid {
	display: block;
	overflow-y: auto;
	width: calc(100% - 8px);
	height: calc(100% - 98px);
	position: absolute;
	border: solid 1px #3580D3;
	padding: 8px;
}

.examples-ui-deni-grid .examples-container {
	display: block;
}

.example h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: bold;
  color: #474747;
  text-indent: 3px;
}

.example h3:before {
  padding-right: 5px;
  content: "///";
  color: #9ddcff;
}


#main-content h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: bold;
  color: #474747;
  text-indent: 3px;
}

#main-content h3:before {
  padding-right: 0.3em;
  margin-left: -2em;
  content: "///";
  color: #9ddcff;
}


.items-container {
	margin-top: 2px;
	float: left;
	width: 100%;
    display:block;
}

.item {
	float: left;
	display: inline-block;
	height: 160px;
	width: 240px;
	margin-right: 4px;
	margin-top: 2px;
	padding: 2px 2px 0px 2px;
	cursor: pointer;
}

.item-image {
	height: 130px;
	width: 100%;
}

.item-text {
	height: 30px;
	width: 100%;
	color: gray;
	font-size: 12px;
	text-align: center;
}
