body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: tahoma,arial;
}

* {
	box-sizing: border-box;
}	

.examples-ui-deni-grid {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 4px;
}

.group {
	margin-top: 4px;	
	float: left;	
	display: block;
	width: 100%;		
	color: #004d99;
	font-size: 16px;	
}

hr {
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 	
}

.items-container {
	margin-top: 4px;
	float: left;		
	width: 100%;
    display:block;
}

.item {
	float: left;	
	display: inline-block;	
	height: 150px;
	width: 180px;	
	margin-right: 4px;	
	padding: 2px 2px 0px 2px;
}

.item-image {
	height: 115px;
	width: 100%;	
}

.item-text {
	height: 35px;
	width: 100%;
	color: gray;
	font-size: 12px;
	text-align: center;
}